[submodule "soc/picorv32"]
	path = soc/picorv32
	url = https://github.com/cliffordwolf/picorv32.git
[submodule "soc/app/tinyusb"]
	path = soc/ipl/tinyusb
	url = https://github.com/hathach/tinyusb.git
[submodule "soc/ipl/elfload"]
	path = soc/ipl/elfload
	url = https://github.com/Spritetm/elfload.git
[submodule "app-basic/my_basic"]
	path = app-basic/my_basic
	url = https://github.com/paladin-t/my_basic.git
[submodule "soc/ipl/lodepng"]
	path = soc/ipl/lodepng
	url = https://github.com/lvandeve/lodepng.git
[submodule "soc/ipl/yxml"]
	path = soc/ipl/yxml
	url = https://g.blicky.net/yxml.git
[submodule "app-badgetris"]
	path = app-badgetris
	url = https://github.com/szczys/badgetris-2019supercon.git
