
#8MHz clock
LOCATE COMP "clk" SITE "J20";
IOBUF PORT "clk" IO_TYPE=LVCMOS33;

#LEDs
LOCATE COMP "led[0]" SITE "F3";
LOCATE COMP "led[1]" SITE "E3";
LOCATE COMP "led[2]" SITE "D3";
LOCATE COMP "led[3]" SITE "C4";
LOCATE COMP "led[4]" SITE "C5";
LOCATE COMP "led[5]" SITE "C6";

IOBUF PORT "led[0]" IO_TYPE=LVCMOS33;
IOBUF PORT "led[1]" IO_TYPE=LVCMOS33;
IOBUF PORT "led[2]" IO_TYPE=LVCMOS33;
IOBUF PORT "led[3]" IO_TYPE=LVCMOS33;
IOBUF PORT "led[4]" IO_TYPE=LVCMOS33;
IOBUF PORT "led[5]" IO_TYPE=LVCMOS33;

#UDLRBAstartsel
LOCATE COMP "btn[7]" SITE "U18";
LOCATE COMP "btn[6]" SITE "T20";
LOCATE COMP "btn[5]" SITE "U19";
LOCATE COMP "btn[4]" SITE "U20";
LOCATE COMP "btn[3]" SITE "C11";
LOCATE COMP "btn[2]" SITE "C9";
LOCATE COMP "btn[1]" SITE "C20";
LOCATE COMP "btn[0]" SITE "L19";

IOBUF PORT "btn[0]" IO_TYPE=LVCMOS33 PULLMODE=UP;
IOBUF PORT "btn[1]" IO_TYPE=LVCMOS33 PULLMODE=UP;
IOBUF PORT "btn[2]" IO_TYPE=LVCMOS33 PULLMODE=UP;
IOBUF PORT "btn[3]" IO_TYPE=LVCMOS33 PULLMODE=UP;
IOBUF PORT "btn[4]" IO_TYPE=LVCMOS33 PULLMODE=UP;
IOBUF PORT "btn[5]" IO_TYPE=LVCMOS33 PULLMODE=UP;
IOBUF PORT "btn[6]" IO_TYPE=LVCMOS33 PULLMODE=UP;
IOBUF PORT "btn[7]" IO_TYPE=LVCMOS33 PULLMODE=UP;


