
#8MHz clock
LOCATE COMP "clk" SITE "J20";
IOBUF PORT "clk" IO_TYPE=LVCMOS33;

#LEDs
LOCATE COMP "led[0]" SITE "F3";
LOCATE COMP "led[1]" SITE "E3";
LOCATE COMP "led[2]" SITE "D3";
LOCATE COMP "led[3]" SITE "C4";
LOCATE COMP "led[4]" SITE "C5";
LOCATE COMP "led[5]" SITE "C6";

IOBUF PORT "led[0]" IO_TYPE=LVCMOS33;
IOBUF PORT "led[1]" IO_TYPE=LVCMOS33;
IOBUF PORT "led[2]" IO_TYPE=LVCMOS33;
IOBUF PORT "led[3]" IO_TYPE=LVCMOS33;
IOBUF PORT "led[4]" IO_TYPE=LVCMOS33;
IOBUF PORT "led[5]" IO_TYPE=LVCMOS33;

#buttons
#[7:0] = UDLRBAstartsel
LOCATE COMP "btn[7]" SITE "U18";
LOCATE COMP "btn[6]" SITE "T20";
LOCATE COMP "btn[5]" SITE "U19";
LOCATE COMP "btn[4]" SITE "U20";
LOCATE COMP "btn[3]" SITE "C11";
LOCATE COMP "btn[2]" SITE "C9";
LOCATE COMP "btn[1]" SITE "C20";
LOCATE COMP "btn[0]" SITE "L19";

IOBUF PORT "btn[0]" IO_TYPE=LVCMOS33 PULLMODE=UP;
IOBUF PORT "btn[1]" IO_TYPE=LVCMOS33 PULLMODE=UP;
IOBUF PORT "btn[2]" IO_TYPE=LVCMOS33 PULLMODE=UP;
IOBUF PORT "btn[3]" IO_TYPE=LVCMOS33 PULLMODE=UP;
IOBUF PORT "btn[4]" IO_TYPE=LVCMOS33 PULLMODE=UP;
IOBUF PORT "btn[5]" IO_TYPE=LVCMOS33 PULLMODE=UP;
IOBUF PORT "btn[6]" IO_TYPE=LVCMOS33 PULLMODE=UP;
IOBUF PORT "btn[7]" IO_TYPE=LVCMOS33 PULLMODE=UP;

#sound
LOCATE COMP "pwmout" SITE "D20";
IOBUF PORT "pwmout" IO_TYPE=LVCMOS33;

#lcd
LOCATE COMP "lcd_db[17]" SITE "G2";
LOCATE COMP "lcd_db[16]" SITE "K1";
LOCATE COMP "lcd_db[15]" SITE "H1";
LOCATE COMP "lcd_db[14]" SITE "L2";
LOCATE COMP "lcd_db[13]" SITE "J3";
LOCATE COMP "lcd_db[12]" SITE "L1";
LOCATE COMP "lcd_db[11]" SITE "K3";
LOCATE COMP "lcd_db[10]" SITE "M3";
LOCATE COMP "lcd_db[9]" SITE "K4";
LOCATE COMP "lcd_db[8]" SITE "M1";
LOCATE COMP "lcd_db[7]" SITE "M5";
LOCATE COMP "lcd_db[6]" SITE "N2";
LOCATE COMP "lcd_db[5]" SITE "M4";
LOCATE COMP "lcd_db[4]" SITE "N1";
LOCATE COMP "lcd_db[3]" SITE "N4";
LOCATE COMP "lcd_db[2]" SITE "P2";
LOCATE COMP "lcd_db[1]" SITE "N3";
LOCATE COMP "lcd_db[0]" SITE "P1";
LOCATE COMP "lcd_rd" SITE "H2";
LOCATE COMP "lcd_wr" SITE "K2";
LOCATE COMP "lcd_rs" SITE "G1";
LOCATE COMP "lcd_rst" SITE "P5";
LOCATE COMP "lcd_cs" SITE "J1";
LOCATE COMP "lcd_id" SITE "P3";
LOCATE COMP "lcd_fmark" SITE "P4";
LOCATE COMP "lcd_blen" SITE "H3";

IOBUF PORT "lcd_db[17]" IO_TYPE=LVCMOS33;
IOBUF PORT "lcd_db[16]" IO_TYPE=LVCMOS33;
IOBUF PORT "lcd_db[15]" IO_TYPE=LVCMOS33;
IOBUF PORT "lcd_db[14]" IO_TYPE=LVCMOS33;
IOBUF PORT "lcd_db[13]" IO_TYPE=LVCMOS33;
IOBUF PORT "lcd_db[12]" IO_TYPE=LVCMOS33;
IOBUF PORT "lcd_db[11]" IO_TYPE=LVCMOS33;
IOBUF PORT "lcd_db[10]" IO_TYPE=LVCMOS33;
IOBUF PORT "lcd_db[9]" IO_TYPE=LVCMOS33;
IOBUF PORT "lcd_db[8]" IO_TYPE=LVCMOS33;
IOBUF PORT "lcd_db[7]" IO_TYPE=LVCMOS33;
IOBUF PORT "lcd_db[6]" IO_TYPE=LVCMOS33;
IOBUF PORT "lcd_db[5]" IO_TYPE=LVCMOS33;
IOBUF PORT "lcd_db[4]" IO_TYPE=LVCMOS33;
IOBUF PORT "lcd_db[3]" IO_TYPE=LVCMOS33;
IOBUF PORT "lcd_db[2]" IO_TYPE=LVCMOS33;
IOBUF PORT "lcd_db[1]" IO_TYPE=LVCMOS33;
IOBUF PORT "lcd_db[0]" IO_TYPE=LVCMOS33;
IOBUF PORT "lcd_rd" IO_TYPE=LVCMOS33;
IOBUF PORT "lcd_wr" IO_TYPE=LVCMOS33;
IOBUF PORT "lcd_rs" IO_TYPE=LVCMOS33;
IOBUF PORT "lcd_rst" IO_TYPE=LVCMOS33;
IOBUF PORT "lcd_cs" IO_TYPE=LVCMOS33;
IOBUF PORT "lcd_id" IO_TYPE=LVCMOS33;
IOBUF PORT "lcd_fmark" IO_TYPE=LVCMOS33;
IOBUF PORT "lcd_blen" IO_TYPE=LVCMOS33;

#generic IO
LOCATE COMP "uart_rx" SITE "A11";
LOCATE COMP "uart_tx" SITE "B11";
#LOCATE COMP "genio[29]" SITE "A11";
#LOCATE COMP "genio[28]" SITE "B11";
LOCATE COMP "genio[27]" SITE "A10";
LOCATE COMP "genio[26]" SITE "B10";
LOCATE COMP "genio[25]" SITE "A9";
LOCATE COMP "genio[24]" SITE "B9";
LOCATE COMP "genio[23]" SITE "A8";
LOCATE COMP "genio[22]" SITE "B8";
LOCATE COMP "genio[21]" SITE "A7";
LOCATE COMP "genio[20]" SITE "C7";
LOCATE COMP "genio[19]" SITE "A6";
LOCATE COMP "genio[18]" SITE "B6";
LOCATE COMP "genio[17]" SITE "A5";
LOCATE COMP "genio[16]" SITE "B5";
LOCATE COMP "genio[15]" SITE "A4";
LOCATE COMP "genio[14]" SITE "B4";
LOCATE COMP "genio[13]" SITE "A3";
LOCATE COMP "genio[12]" SITE "B3";
LOCATE COMP "genio[11]" SITE "A2";
LOCATE COMP "genio[10]" SITE "C3";
LOCATE COMP "genio[9]" SITE "B2";
LOCATE COMP "genio[8]" SITE "B1";
LOCATE COMP "genio[7]" SITE "C2";
LOCATE COMP "genio[6]" SITE "C1";
LOCATE COMP "genio[5]" SITE "D2";
LOCATE COMP "genio[4]" SITE "D1";
LOCATE COMP "genio[3]" SITE "E2";
LOCATE COMP "genio[2]" SITE "E1";
LOCATE COMP "genio[1]" SITE "F2";
LOCATE COMP "genio[0]" SITE "F1";

IOBUF PORT "uart_rx" IO_TYPE=LVCMOS33 PULLMODE=UP;
IOBUF PORT "uart_tx" IO_TYPE=LVCMOS33;
#IOBUF PORT "genio[29]" IO_TYPE=LVCMOS33;
#IOBUF PORT "genio[28]" IO_TYPE=LVCMOS33;
IOBUF PORT "genio[27]" IO_TYPE=LVCMOS33;
IOBUF PORT "genio[26]" IO_TYPE=LVCMOS33;
IOBUF PORT "genio[25]" IO_TYPE=LVCMOS33;
IOBUF PORT "genio[24]" IO_TYPE=LVCMOS33;
IOBUF PORT "genio[23]" IO_TYPE=LVCMOS33;
IOBUF PORT "genio[22]" IO_TYPE=LVCMOS33;
IOBUF PORT "genio[21]" IO_TYPE=LVCMOS33;
IOBUF PORT "genio[20]" IO_TYPE=LVCMOS33;
IOBUF PORT "genio[19]" IO_TYPE=LVCMOS33;
IOBUF PORT "genio[18]" IO_TYPE=LVCMOS33;
IOBUF PORT "genio[17]" IO_TYPE=LVCMOS33;
IOBUF PORT "genio[16]" IO_TYPE=LVCMOS33;
IOBUF PORT "genio[15]" IO_TYPE=LVCMOS33;
IOBUF PORT "genio[14]" IO_TYPE=LVCMOS33;
IOBUF PORT "genio[13]" IO_TYPE=LVCMOS33;
IOBUF PORT "genio[12]" IO_TYPE=LVCMOS33;
IOBUF PORT "genio[11]" IO_TYPE=LVCMOS33;
IOBUF PORT "genio[10]" IO_TYPE=LVCMOS33;
IOBUF PORT "genio[9]" IO_TYPE=LVCMOS33;
IOBUF PORT "genio[8]" IO_TYPE=LVCMOS33;
IOBUF PORT "genio[7]" IO_TYPE=LVCMOS33;
IOBUF PORT "genio[6]" IO_TYPE=LVCMOS33;
IOBUF PORT "genio[5]" IO_TYPE=LVCMOS33;
IOBUF PORT "genio[4]" IO_TYPE=LVCMOS33;
IOBUF PORT "genio[3]" IO_TYPE=LVCMOS33;
IOBUF PORT "genio[2]" IO_TYPE=LVCMOS33;
IOBUF PORT "genio[1]" IO_TYPE=LVCMOS33;
IOBUF PORT "genio[0]" IO_TYPE=LVCMOS33;

#PSRAM 1
LOCATE COMP "psrama_nce" SITE "A16";
LOCATE COMP "psrama_sclk" SITE "A15";
LOCATE COMP "psrama_sio[0]" SITE "B15";
LOCATE COMP "psrama_sio[1]" SITE "B16";
LOCATE COMP "psrama_sio[2]" SITE "A17";
LOCATE COMP "psrama_sio[3]" SITE "A14";

IOBUF PORT "psrama_nce" IO_TYPE=LVCMOS33;
IOBUF PORT "psrama_sclk" IO_TYPE=LVCMOS33;
IOBUF PORT "psrama_sio[0]" IO_TYPE=LVCMOS33 PULLMODE=UP;
IOBUF PORT "psrama_sio[1]" IO_TYPE=LVCMOS33 PULLMODE=UP;
IOBUF PORT "psrama_sio[2]" IO_TYPE=LVCMOS33 PULLMODE=UP;
IOBUF PORT "psrama_sio[3]" IO_TYPE=LVCMOS33 PULLMODE=UP;

#PSRAM 2
LOCATE COMP "psramb_nce" SITE "A19";
LOCATE COMP "psramb_sclk" SITE "A18";
LOCATE COMP "psramb_sio[0]" SITE "B18";
LOCATE COMP "psramb_sio[1]" SITE "B19";
LOCATE COMP "psramb_sio[2]" SITE "B20";
LOCATE COMP "psramb_sio[3]" SITE "B17";

IOBUF PORT "psramb_nce" IO_TYPE=LVCMOS33;
IOBUF PORT "psramb_sclk" IO_TYPE=LVCMOS33;
IOBUF PORT "psramb_sio[0]" IO_TYPE=LVCMOS33 PULLMODE=UP;
IOBUF PORT "psramb_sio[1]" IO_TYPE=LVCMOS33 PULLMODE=UP;
IOBUF PORT "psramb_sio[2]" IO_TYPE=LVCMOS33 PULLMODE=UP;
IOBUF PORT "psramb_sio[3]" IO_TYPE=LVCMOS33 PULLMODE=UP;

# GPDI differential interface (Video)
LOCATE COMP "gpdi_dp[0]" SITE "N19"; # Blue +
LOCATE COMP "gpdi_dn[0]" SITE "N20"; # Blue -
LOCATE COMP "gpdi_dp[1]" SITE "N17"; # Green +
LOCATE COMP "gpdi_dn[1]" SITE "P16"; # Green -
LOCATE COMP "gpdi_dp[2]" SITE "P20"; # Red +
LOCATE COMP "gpdi_dn[2]" SITE "R20"; # Red -
LOCATE COMP "gpdi_dp[3]" SITE "N16"; # Clock +
LOCATE COMP "gpdi_dn[3]" SITE "M17"; # Clock -
LOCATE COMP "gpdi_ethp" SITE "L20"; # Ethernet +
LOCATE COMP "gpdi_ethn" SITE "M20"; # Ethernet -
IOBUF PORT "gpdi_dp[0]" IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "gpdi_dn[0]" IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "gpdi_dp[1]" IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "gpdi_dn[1]" IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "gpdi_dp[2]" IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "gpdi_dn[2]" IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "gpdi_dp[3]" IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "gpdi_dn[3]" IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "gpdi_ethp" IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "gpdi_ethn" IO_TYPE=LVCMOS33 DRIVE=4;

LOCATE COMP "flash_hold" SITE "W1";
LOCATE COMP "flash_miso" SITE "V2";
LOCATE COMP "flash_wp" SITE "Y2";
LOCATE COMP "flash_mosi" SITE "W2";
LOCATE COMP "flash_sck" SITE "U3";

IOBUF PORT "flash_hold" IO_TYPE=LVCMOS33;
IOBUF PORT "flash_miso" IO_TYPE=LVCMOS33;
IOBUF PORT "flash_wp" IO_TYPE=LVCMOS33;
IOBUF PORT "flash_mosi" IO_TYPE=LVCMOS33;
IOBUF PORT "flash_sck" IO_TYPE=LVCMOS33;

LOCATE COMP "usb_dp" SITE "J19";
LOCATE COMP "usb_dm" SITE "K19";
LOCATE COMP "usb_pu" SITE "H20";
LOCATE COMP "usb_vdet" SITE "G20";

IOBUF PORT "usb_dp" IO_TYPE=LVCMOS33;
IOBUF PORT "usb_dm" IO_TYPE=LVCMOS33;
IOBUF PORT "usb_pu" IO_TYPE=LVCMOS33;
IOBUF PORT "usb_vdet" IO_TYPE=LVCMOS33;

LOCATE COMP "programn" SITE "W3
IOBUF PORT "programn" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=8 TERMINATION=OFF HYSTERESIS=NA OPENDRAIN=ON DIFFDRIVE="NA";
